body {
}

.Grid tr:nth-child(even) {
    background-color: #eee;
}

.Grid tr td {
    padding: 5px;
}

.Grid th {
    cursor: pointer;
}

input[data-column='0'] {
    width: 20px;
    visibility: hidden;
}