body {
}

.Grid tr:nth-child(even) {
    background-color: #eee;
}

.Grid th {
    cursor: pointer;
}

input[data-column='0'] {
    width: 10px;
    visibility: hidden;
}

#table tbody tr td {
    width: 15px;
}
